* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  height: 70vh;
  width: 100vw;
}

.leaflet-popup-content-wrapper {
  background-color: green;
}

.leaflet-popup-content {
  color: white;
  font-size: 15px;
}

.leaflet-container a.leaflet-popup-close-button {
  color: white;
  transition: all 0.2s ease-in-out;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: red;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: green;
}

@media only screen and (width: 734px) {
  div.css-woa9b {
    height: 20vh;
  }
  div.css-737n2k {
    margin: 120px auto;
  }
  div.css-1jc67xf {
    flex-direction: row;
    height: 100px;
    text-align: left;
  }

  div.css-s9smi9 {
    margin-top: -200px;
  }
}
